# Hexshift
# A encryption algorithm that uses shifters to cipher hex.
# Github: https://www.github.com/lewisevans2007/hexshift
# Licence: GNU General Public License v3.0
# By: Lewis Evans

colorama==0.4.6